<div class="container" *ngIf="isPlaying | async as isPlaying">
  <div *ngIf="selectedSong | async as selectedSong">
    <div class="row">
      <div class="col">
        <youtube-player [videoId]="selectedSong.videoId"
                        [playerVars]="playerConfig"
                        [height]="480"
                        [width]="720"></youtube-player>
      </div>
      <div class="col">
        {{selectedSong.franchise}} <br />
        {{selectedSong.title}} <br />
        {{selectedSong.genre}} <br />
        <div class="btn btn-primary" (click)="reset()">
          <i class="bi bi-x-lg"></i> Close
        </div>
      </div>
    </div>
  </div>
</div>
